Types of variables

In [3]:
#integer
x=2 #explicit type declaration is not needed.

In [9]:
#prints the value of x : usually print(x) is used to print value, jupyter elimintaes the need to explicitely call print funciton
x

2

In [ ]:
type(x) #type is a function that returns the type of a variable

---

In [10]:
#float/double
y=2.5

In [11]:
y

2.5

In [12]:
type(y)

float

---

In [17]:
#string
a='hello' #single or double quotes doesn't make difference
b='2'

In [19]:
a

'hello'

In [15]:
type(a)

str

In [20]:
b

'2'

In [21]:
type(b)#though 2 is numeric value, it is inside single quotes which python treats as string

str

---

In [23]:
#logical/boolean
q=True

In [25]:
q

True

In [26]:
type(q)

bool

---

Arithmetic

In [31]:

x1,y1=2,3

5

In [32]:
#addition
x1+y1

5

In [33]:
#subtraction
x1-y1

-1

In [34]:
#division
x1/y1

0.6666666666666666

In [36]:
#multiplication
x1*y1

6

---

In [37]:
import math as m

In [41]:
z1=m.sqrt(x1)

In [42]:
round(z1)

1

In [45]:
greeting='Hello'
name='John Doe'

message=greeting + ' '+ name

In [46]:
message

'Hello John Doe'

---

---

Operators

In [ ]:
# ==
# != <>
# <
# >
# <=
# >=
# and 
# or
# not

Boolean

In [54]:

print(x==x1)
print(x<x1)
print(x!=x1)
print(not(x>x1))

True
False
False
True

---

Loops

In [56]:
while x<=5:
    print(x)
    x=x+1;

2
3
4
5

In [57]:
for i in range(5):
    print(i)

0
1
2
3
4

In [58]:
list(range(0,5)) #creates the integer from 0 to n-1

[0, 1, 2, 3, 4]

---

Law of large numbers

In [599]:
import numpy as np

myNum=4.89
randmNum=round(np.random.uniform(3,4),2)
print(randmNum)
if myNum==randmNum:
    print('Matched')

3.19

---

Collections

In [603]:
#List

list=[1,2,3,4,5,'Boy','Girl',2.3] 
for i in list:
    print(i)

1
2
3
4
5
Boy
Girl
2.3

In [619]:
#Slicing 
num=[*range(1,10)]
print(num)
print(num[:5])
print(num[1::2])
print(num[::-1])
print(num[10::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9]

In [638]:
#tuples
t=tuple(range(1,6)) # immutable list
print(t)
print(t[::-1])

(1, 2, 3, 4, 5)
(5, 4, 3, 2, 1)

In [652]:
#functions
mylist=[*range(1,10)]

print(mylist)
mylist.append(2)
print(mylist)
print(len(mylist))
print(max(mylist))
print(min(mylist))
print(type(mylist))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 2]
10
9
1
<class 'list'>

In [669]:
#packages
from scrapy.crawler import CrawlerProcess
import numpy as np

npArray=np.array([*range(1,10)])
print(npArray)

print(npArray.mean())
print(mylist)

[1 2 3 4 5 6 7 8 9]
5.0
[1, 2, 3, 4, 5, 6, 7, 8, 9, 2]

---

Dictionary

In [11]:
person={'name':'dilip','profession':'Software developer'}
print(person)
print(person['name'])

{'name': 'dilip', 'profession': 'Software developer'}
dilip